################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Win32
/CnCTDRAMapEditor/obj
**/Win32/Release
**/Win32/Release-Beta
**/Win32/Release-Release
**/Win32/Debug
**/*.vcxproj.user
